// 小课宝 装饰颜色为天蓝色
$decorateColor: #ffcd76;

// 黑色点睛色
$blackColor: #232323;

// 黑色颜色字体
$my-font: 'Hamurz Free Version';

// 进行中 打卡进度颜色
$proceed: #ffcd76;
// 普通字体
$fontSize: 28rpx;
// 长音频，进度条颜色
$longVideo: #ffcd76;

$btnColor: #ffcd76;
